:root {
    /*COLORES*/
    --color-red: #C8443B;
    --color-gray: #E6E4E1;
    --color-black: #2E2D30;

    /*COLORES DE FONDO*/
    --color-bg-red: #C8443B;
    --color-bg-gray: #E6E4E1;
    --color-bg-black: #2E2D30;

    /*VARIANTES DE PESO*/
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;


}