:root {
    /*COLORES*/
    --color-rojo: #C8443B;
    --color-gris: #E6E4E1;
    --color-negro: #2E2D30;

    /*COLORES DE FONDO*/
    --color-bg-rojo: #C8443B;
    --color-bg-gris: #E6E4E1;
    --color-bg-negro: #2E2D30;

    /*VARIANTES DE PESO*/
    --peso-light: 300;
    --peso-regular: 400;
    --peso-medium: 500;


}