h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, {
    color: var(--color-rojo);
}
h1, .h1 {
    font-size: 40px;
    font-weight: var(--peso-medium);
}


h2, .h2 {
    font-size: 36px;
    font-weight: var(--peso-medium);
}

h3, .h3 {
    font-size: 36px;
    font-weight: var(--peso-regular);
}

h4, .h4 {
    font-size: 32px;
    font-weight: var(--peso-regular);
}

h5, .h5 {
    font-size: 24px;
    font-weight: var(--peso-regular);
}

h6, .h6 {
    font-size: 20px;
    font-weight: var(--peso-light);
}

.h1-serif {
    font-size: 32px;
    font-family: 'Petrona', serif; 
    color: var(--color-negro);
}

.h2__serif--italic {
    font-size: 36px;
    font-family: 'Petrona', serif; 
    font-style: italic;
} 






