.section__hero__imagen img {
    width: 102%;
    transform: rotate(3.5deg);
}

.componente__producto img {
    width: 100%;
}

@media screen and (min-width:1194px) {

    .section__hero__imagen {
    width: 40%;


    }

}
