.section__hero__imagen img {
    width: 102%;
    transform: rotate(3.5deg);
}

.paginadeentrada_contenido img {
    width: 100%;
    height: auto;
    margin-bottom: 48px;
}

// OCULTAR IMAGEN PARA QUE NO SOBRESALGA AL ABRIR EL MENÚ
.ocultar-imagen {
    display: none;
}
//

.componente__producto img {
    width: 100%;
}

@media screen and (min-width:1194px) {

    .section__hero__imagen {
    width: 40%;


    }

}
