a {
    text-decoration: none;
}

.more-entries {
    transition: color 0.2s ease-in-out;

}
.more-entries:hover {
    color: var(--color-rojo);
    transition: color 0.2s ease-in-out;
}

.product-component__links .attribute {
    position: relative;
    display: inline-block;
}

.product-component__links .attribute:hover::after {
    content: ''; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: var(--color-rojo); 
    animation: underline-animation 0.25s ease-in-out forwards; 
}

@keyframes underline-animation {
    to {
      width: 100%; 
    }
  }





