
// ESTILOS DEL SITE EN GENERAL

* {
    margin: 0;
}

body {
    background-color: var(--color-bg-gris);
    font-family: 'Unbounded', sans-serif;
}

main {
    padding: calc(96.55px + 48px) 24px 0 24px; 

}

// ESTILOS EXCLUSIVOS DE LA PÁGINA DE PRODUCTO

.product-page-content {

    padding-top: calc(96.55px + 48px);
    
        & .breadcrumbs, & h1 {
            margin-bottom: 48px;
        }
}

.product-page-content .product-component {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1194px) {

    main.product-page-content {
        padding: calc(96.55px + 48px) 240px 0 240px;
    }
    
    .breadcrumbs, .product-page-content h1 {
    text-align: center;
    }

    .product-page-content .product-component {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

}

// ESTILOS EXCLUSIVOS DE LA HOME
.hero-section, .last-entries-section {
    margin-bottom: 144px;
}

.hero-section {
    display: flex;
    flex-direction: column;
}

.last-entries-section__cards {
    display: flex;
    flex-direction: column;
}

.hero-section__texts {
    display: flex;
    flex-direction: column;
}

.shop-section__products {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1194px) {
main.home-content {
    padding-top: 96.55px;
}
}

//ESTILOS EXCLUSIVOS DE LA PÁGINA DE PRODUCTO

.entry-page-content {
    .attribute {
        display: flex;
        margin-bottom: 12px;
    }
    p.attribute {
        margin-bottom: 48px;
    }
    .h1-serif {
        display: flex;
    }
}

.h1-serif {
    display: flex;
    justify-content: left;
    margin-bottom: 12px;
}

@media screen and (min-width:1194px) {
    .entry-page-content {
        .attribute {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
        }
        p.attribute {
            margin-bottom: 48px;
        }
        .h1-serif {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;            
        }
    }
}

//ESTILOS EXCLUSIVOS DE LA PÁGINA DE ENTRADA


p.attribute {
            margin-bottom: 48px;
    }



.entry-page-content h5 {
margin: 48px 0 48px 0; 
text-align: center;
}

.entry-page-content p:last-of-type {
    margin-bottom: 96px;
}

// AJUSTES PARA LA RESOLUCIÓN TABLET/PORTÁTIL
@media screen and (min-width:1194px) {

    main {
        padding: calc(96.55px + 48px) 48px 0 48px;
    }

    .hero-section {
        flex-direction: row;
        padding: 0 72px 0 72px;
    }

    main.entry-page-content {
        padding: calc(96.55px + 48px) 192px 0 192px;
    }
    
    .last-entries-section__cards {
        flex-direction: row;
        gap: 32px;
    }

    .hero-section__texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 45vw;           
        margin-right: 24px;
    }

    .shop-section__products {
        flex-direction: row;
        justify-content: center;
        gap: 56px;
        // padding: 0 36px;
    }

    
    
} 





