.topbar {
    padding: 24px 24px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gris);
}

.topbar__logo {
    width: 63.35px;
}

.topbar__icono-menu-hamburguesa {
    width: 47.46px;
}

.menu-desplegable {
    display: none;
    background-color: var(--color-rojo);
    padding: 0 24px; 
    position: fixed;
    top: 96.55px;
    bottom: 0;
    left: 0;
    right: 0;
    
        h1, h5 {
        color: var(--color-gris);
    }
}

.mostrarmenu {
    display: block;
    
}


