.topbar {
    padding: 24px 24px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gris);
    margin-bottom: 48px;
}

.topbar__logo {
    width: 63.35px;
}

.topbar__icono-menu-hamburguesa {
    width: 47.46px;
}

.menu-desplegable {
    display: none;
    background-color: var(--color-rojo);
    padding: 70% 0 0 24px; 
    position: fixed;
    z-index: 999;
    top: 96.55px;
    bottom: 0;
    left: 0;
    right: 0;
    
        h1, h5 {
        color: var(--color-gris);
    }
}

.mostrarmenu {
    display: block;
    
}

@media screen and (min-width:1194px) {

    .topbar {
        margin-bottom: 0px;
    }
    

}


