.topbar {
    padding: 24px 24px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gris);
    margin-bottom: 48px;
}

.ocultar-margin-topbar {
    margin-bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.topbar__logo {
    width: 63.35px;
}

.topbar__icono-menu-hamburguesa {
    width: 47.46px;
}

.menu-desplegable {
    display: none;
    background-color: var(--color-rojo);
    padding: 35vh 0 0 24px; 
    position: fixed;
    top: 96.55px;
    bottom: 0;
    left: 0;
    right: 0;
    
        h1 {
        color: var(--color-gris);
    }
}

// CORRECCIÓN MENÚ DESPLEGABLE
// .menu-desplegable {
//     display: none;
//     background-color: var(--color-rojo);
//     padding: 35vh 0 0 24px; 
//     position: fixed;
//     top: 96.55px;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     list-style: none;
    
//         .h1 {
//         color: var(--color-gris);
//     }
// }

.mostrarmenu {
    display: block;
    
}

@media screen and (min-width:1194px) {

    .topbar {
        margin-bottom: 0px;
    }
    

}


