// ESTILOS GENERALES DE TIPOGRAFÍA
p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-negro);
    font-size: 16px;
}

p strong {
    color: var(--color-rojo);
    font-weight: var(--peso-medium);
}

.p__serif {
    font-size: 20px;
    font-family: 'Petrona', serif;
}

// ESTILOS REFERENTES A TEXTOS DE LA HOME (MARGINS, COLORES ESPECÍFICOS, ETC.)
.section__hero__textos {
    margin-bottom: 40px;
}

.section__ideas h2 {
   text-align: center;
   margin-bottom: 80px;
}

.section__ideas h5 {
    color: var(--color-negro);
    text-align: center;
 }

 .section__colabora h2 {
    text-align: center;
    margin-bottom: 8px;
 }
 
 .section__colabora h5 {
    text-align: center;
    margin-bottom: 80px;    
  }

