:root {
  /*COLORES*/
  --color-rojo: #C8443B;
  --color-gris: #E6E4E1;
  --color-negro: #2E2D30;
  /*COLORES DE FONDO*/
  --color-bg-rojo: #C8443B;
  --color-bg-gris: #E6E4E1;
  --color-bg-negro: #2E2D30;
  /*VARIANTES DE PESO*/
  --peso-light: 300;
  --peso-regular: 400;
  --peso-medium: 500;
}

* {
  margin: 0;
}

body {
  background-color: var(--color-bg-gris);
  font-family: "Unbounded", sans-serif;
}

main {
  padding: 0 24px 0 24px;
}

.paginadeproducto__contenido {
  padding-top: 144.55px;
}
.paginadeproducto__contenido .migasdepan, .paginadeproducto__contenido h1 {
  margin-bottom: 48px;
}

.paginadeproducto__contenido .componente__producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1194px) {
  .migasdepan, .paginadeproducto__contenido h1 {
    text-align: center;
  }
  .paginadeproducto__contenido .componente__producto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 48px;
  }
}
.section__hero, .section__ideas {
  margin-bottom: 144px;
}

.section__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 144.55px;
}

.section__ideas__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__hero__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__colabora__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1194px) {
  main {
    padding: 0 240px 0 240px;
  }
  .section__hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 144.55px 72px 0 72px;
  }
  .section__ideas__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
  .section__hero__textos {
    max-width: 45vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 24px;
  }
  .section__colabora__productos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 56px;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--color-rojo);
}

h1, .h1 {
  font-size: 40px;
  font-weight: var(--peso-medium);
}

h2, .h2 {
  font-size: 36px;
  font-weight: var(--peso-medium);
}

h3, .h3 {
  font-size: 36px;
  font-weight: var(--peso-regular);
}

h4, .h4 {
  font-size: 32px;
  font-weight: var(--peso-regular);
}

h5, .h5 {
  font-size: 24px;
  font-weight: var(--peso-regular);
}

h6, .h6 {
  font-size: 20px;
  font-weight: var(--peso-light);
}

.h1__serif {
  font-size: 32px;
  font-family: "Petrona", serif;
}

.h2__serif--italic {
  font-size: 36px;
  font-family: "Petrona", serif;
  font-style: italic;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-negro);
  font-size: 16px;
}

p strong {
  color: var(--color-rojo);
  font-weight: var(--peso-medium);
}

.p__serif {
  font-size: 20px;
  font-family: "Petrona", serif;
}

.section__hero__textos {
  margin-bottom: 40px;
}

.section__ideas h2 {
  text-align: center;
  margin-bottom: 80px;
}

.section__ideas h5 {
  color: var(--color-negro);
  text-align: center;
}

.section__colabora h2 {
  text-align: center;
  margin-bottom: 8px;
}

.section__colabora h5 {
  text-align: center;
  margin-bottom: 80px;
}

.section__hero__imagen img {
  width: 102%;
  -webkit-transform: rotate(3.5deg);
          transform: rotate(3.5deg);
}

.ocultar-imagen {
  display: none;
}

.componente__producto img {
  width: 100%;
}

@media screen and (min-width: 1194px) {
  .section__hero__imagen {
    width: 40%;
  }
}
.btn {
  font-family: "Unbounded";
  font-size: 20px;
  font-weight: var(--peso-light);
  color: var(--color-gris);
  background-color: var(--color-rojo);
  border: 0;
  padding: 8px;
  width: 100%;
}

.desplegable {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Unbounded";
  font-size: 20px;
  font-weight: var(--peso-light);
  color: var(--color-negro);
  background-color: var(--color-gris);
  border: 1px solid var(--color-negro);
  padding: 8px;
  width: 100%;
  background-image: url("/img/flecha__desplegable.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: right 12px bottom 47.5%;
}

.topbar {
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-gris);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.ocultar-margin-topbar {
  margin-bottom: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.topbar__logo {
  width: 63.35px;
}

.topbar__icono-menu-hamburguesa {
  width: 47.46px;
}

.menu-desplegable {
  display: none;
  background-color: var(--color-rojo);
  padding: 35vh 0 0 24px;
  position: fixed;
  top: 96.55px;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu-desplegable h1 {
  color: var(--color-gris);
}

.mostrarmenu {
  display: block;
}

@media screen and (min-width: 1194px) {
  .topbar {
    margin-bottom: 0px;
  }
}
.card--simple {
  margin-bottom: 80px;
}

.card--simple__caja {
  border-top: 2px solid var(--color-rojo);
  border-bottom: 2px solid var(--color-rojo);
  margin-bottom: 12px;
}

.card__caja__contenido {
  margin-top: 12px;
  margin-bottom: 12px;
}

.card__titulo {
  margin-top: 24px;
  margin-bottom: 24px;
}

.card__categoria {
  text-align: end;
}

@media screen and (min-width: 1194px) {
  .card--simple {
    width: 33.3333333333%;
  }
}
.componente__producto {
  margin-bottom: 96px;
}
.componente__producto img {
  margin-bottom: 12px;
}
.componente__producto__tituloyprecio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.componente__producto__tituloyprecio h5:first-of-type {
  text-align: left;
}
.componente__producto__tituloyprecio h5 {
  text-align: center;
  margin-bottom: 24px;
}
.componente__producto__descripcion {
  margin-bottom: 24px;
}
.componente__producto__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1194px) {
  .componente__producto {
    width: 28.5714285714%;
  }
}
.paginadeproducto__contenido .componente__producto__tituloyprecio h5 {
  font-weight: var(--peso-medium);
}

.componente__producto__seleccion .desplegable {
  margin-bottom: 24px;
}

@media screen and (min-width: 1194px) {
  .paginadeproducto__contenido .componente__producto {
    width: 100%;
  }
}
footer {
  background-color: var(--color-rojo);
  padding: 0 24px;
}

footer h5 {
  color: var(--color-gris);
}

footer ul {
  list-style: none;
  padding: 80px 0 80px 0;
}

footer ul li {
  padding: 24px 0px;
}

footer ul li:not(:nth-of-type(4)) {
  border-bottom: 2px solid var(--color-gris);
}

#creditos {
  color: var(--color-gris);
  text-align: end;
  padding-bottom: 24px;
  opacity: 50%;
}

@media screen and (min-width: 1194px) {
  footer {
    padding: 0 48px;
  }
}